<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="AIH" value="https://gitlab.aih.local/api/v4/projects/25/packages/nuget/index.json" />
    <add key="VIS2.Shared" value="https://gitlab.aih.local/api/v4/projects/28/packages/nuget/index.json"  />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceCredentials>
    <AIH>
      <add key="Username" value="deploy" />
      <add key="ClearTextPassword" value="fz9jVX-toqjCna2J3E-m" />
    </AIH>
    <VIS2.Shared>
      <add key="Username" value="deploy" />
      <add key="ClearTextPassword" value="YmVXKxRG9e_byze99jn4" />
    </VIS2.Shared>
  </packageSourceCredentials>
</configuration>