<!-- Default Size -->
<div class="modal fade" id="file-manager-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">File Manager</h4>
            </div>
            <div class="modal-body">
                <div id="file-manager"></div>
            </div>
        </div>
    </div>
</div>

<div id="photo-popup"></div>