<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Lapizzajip Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-controller="Home" asp-action="ClearCache" class="btn btn-primary" title="Cache">Clear cache</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Hello @User.Identity?.Name!</a>
                </li>
                <li>
                    <a href="javascript:{}" onclick="document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/identity/account/login">

                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->